{% extends 'app/app.html.twig' %}

{% block page %}
{{ form_start(form) }}
<div class="apps-form">
    <div>
        <label for="name">Google Analytics ID</label>
        {{ form_row(form.googleAnalyticsId) }}
    </div>
    <div>
        {{ form_row(form.save) }}
    </div>
    <hr>
    <div>
        <h4>XIVAPI uses Google Analytics to track API requests.</h4>
        <p>Enter in just your tracking ID (looks something like: <strong>UA-XXXXXXX-X</strong>
            and you can watch your API calls in real time. Information on endpoint as well as build-in events will be all visible. This requires
            no code changes your side and is completely seamless.</p>
        <a href="https://analytics.google.com/analytics/web/?authuser=1#/" target="_blank" class="analytics">&bull; Open Google Analytics</a>
    </div>
</div>
{{ form_end(form) }}

{# GOOGLE ANALYTICS #}
<h4>Built-in Events</h4>
<h5>Rate Limit Exception</h5>
<p>Provides an incremental count of when your app is rate-limited. The label represents
    a MD5 hash of the client IP, you can use this to look at potential abusers of your app
    and blacklist any spam.</p>

<table class="table table-sm table-bordered">
    <thead>
    <tr>
        <th width="25%">Category</th>
        <th width="25%">Action</th>
        <th width="25%">Label</th>
        <th width="25%">Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Exceptions</td>
        <td>ApiRateLimitException</td>
        <td><code>md5(ip)</code></td>
        <td>+1</td>
    </tr>
    </tbody>
</table>

<h5>No Access Exception</h5>
<p>Your app tried to access an endpoint that it does not have permissions to. The label
    shows the endpoint with the value being an incremental count.</p>

<table class="table table-sm table-bordered">
    <thead>
    <tr>
        <th width="25%">Category</th>
        <th width="25%">Action</th>
        <th width="25%">Label</th>
        <th width="25%">Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Exceptions</td>
        <td>ApiRestrictedException</td>
        <td><code>/[endpoint]</code></td>
        <td>+1</td>
    </tr>
    </tbody>
</table>

<h5>Service Error Exceptions</h5>
<p>This is when the API returns an error, <strong>2 events are posted</strong>.</p>
<p>
    <span class="text-info">ApiServiceErrorException</span>: The error message as the label.<br>
    <span class="text-info">ApiServiceCodeException</span>: The HTTP status code (eg 500, 429, etc)
</p>
<table class="table table-sm table-bordered">
    <thead>
    <tr>
        <th width="25%">Category</th>
        <th width="25%">Action</th>
        <th width="25%">Label</th>
        <th width="25%">Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Exceptions</td>
        <td>ApiServiceErrorException</td>
        <td><code>[error message]</code></td>
        <td>+1</td>
    </tr>
    <tr>
        <td>Exceptions</td>
        <td>ApiServiceCodeException</td>
        <td><code>[http code]</code></td>
        <td>+1</td>
    </tr>
    </tbody>
</table>

<br><br><br>

{# Limitations #}
<h4>Note regarding location</h4>
<p>
    As your analytics is based on the XIVAPI usage the <strong>Location</strong>
    will be the XIVAPI Server and not the users visitor IP location.
    Due to privacy this will not be changed.
</p>

{% endblock %}
