{% extends "base.html.twig"  %}
{% set page = 'app' %}
{% block title %}{{ app.name }} - App - XIVAPI{% endblock %}

{% block body %}
<div class="apps">
    <aside>
        {% include 'app/nav.html.twig' %}
    </aside>
    <main>

        {% if app.banned %}
        <div class="warning">
            Sorry, you cannot delete a banned app key. Please talk to a moderator on discord to resolve this.
        </div>
        {% else %}
        <div class="delete-page">

            <h4><strong>You are about to delete the application: <span>{{ app.name }}</span></strong></h4>
            This could potentially break any application using the key: <code>{{ app.apiKey }}</code>

            <br><br><br>

            <p>If you do not want to delete this application, <strong>close this page or click
                    the back button on your browser otherwise it will be deleted in 30 seconds.</strong></p>

            <br>

            <div class="alert alert-warning">
                <h2>Deleting in: <strong class="countdown" style="font-size: 32px;">30</strong></h2>
            </div>
        </div>

        <script>
            let time = 30;
            let interval = setInterval(function () {
                time--;
                $('.countdown').text(time);

                if (time === 0) {
                    clearInterval(interval);
                    window.location.href = "{{ url }}";
                }

            }, 1000)
        </script>
        {% endif %}

    </main>
</div>

{% endblock %}
