<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" CONTENT="A FINAL FANTASY XIV: Online REST API - Game data, characters, free companies, linkshells, lodestone, markets & maps.">
    <meta name="google-site-verification" content="nXXSlEjkDKqCflD4Xiqgb1dPkayQqlUtHkvYpmodpkE">
    <meta name="audience" content="Developers, Gamers, Awesome People">
    <meta property="og:title" content="XIVAPI">
    <meta property="og:description" content="A FINAL FANTASY XIV: Online REST API - Game data, characters, free companies, linkshells, lodestone, markets & maps.">
    <meta name="theme-color" content="#bf1eff">
    <meta property="og:image" content="https://cdn.discordapp.com/icons/474518001173921794/8aa1e424c3817ea4cadfbfc999819e0a.png">

    <title>{% block title %}Admin - XIVAPI{% endblock %}</title>

    <link rel="shortcut icon" type="image/png" href="{{ favIcon() }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <style>
        html, body {
            background: #eee;
        }

        body {
            padding: 50px;
        }

        header {
            margin: 40px 0;
            border-radius: 3px;
            box-shadow: 0 1px 5px #ddd;
            overflow: hidden;
        }
    </style>
    {% block stylesheets %}{% endblock %}
</head>
<body>

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('admin') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_companion') }}">Companion</a>
                    </li>
                </ul>
            </div>
        </nav>

        <br/><br/>

        <main>
            {% block body %}{% endblock %}
        </main>
    </div>

    {% block javascripts %}{% endblock %}
</body>
</html>
