{% extends "admin/base.html.twig"  %}

{% block title %}Admin{% endblock %}

{% block body %}

    <h3>XIVAPI Admin</h3>

    <p>Welcome</p>

    <div id="chart"></div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        var options = {
            chart: {
                type: 'line',
                height: '400px'
            },
            toolbar: {
                show: false
            },
            series: [{
                name: 'Daily Hits',
                data: {{ daily_hits|json_encode|raw }}
            }],
            xaxis: {
                categories: {{ daily_hits|keys|json_encode|raw }}
            }
        }

        var chart = new ApexCharts(document.querySelector("#chart"), options);

        chart.render();
    </script>

{% endblock %}
