{% extends 'admin/base.html.twig' %}

{% block title %}Statistics{% endblock %}

{% block body %}

    <h2>Real-time Statistics</h2>

    <div>
        <button id="reset">Reset</button>
        <button id="stop">Stop</button>
    </div>

    <br><br>

    <code><pre></pre></code>

    <script>
    function getStatistics() {
        $.get('/admin/tracking_stats', response => {
            $('pre').html(response);
        });
    }

    $('#reset').on('click', event => {
        $.get('/admin/tracking_stats_reset');
    });
    
    $('#stop').on('click', event => {
        clearInterval(timer);
    });

    var timer = setInterval(function() {
        getStatistics()
    }, 1000);
    </script>

{% endblock %}
