body {
    padding: 50px;
}
.sidebar {
    max-width: 280px;
    margin-right: 20px;
}
.tar {
    text-align: right;
}

.tac {
    text-align: center;
}
.room_view,
.room_create {
    display: none;

    &.open {
        display: block;
    }
}
