{% extends "docs/index.html.twig"  %}
{% import "docs/macros.html.twig" as docs %}
{% set section = 3 %}

{% block doc %}

    <h1>Getting Started</h1>

    <p>Before we begin, make sure you have an API Key!</p>

    <p><a href="{{ path('docs_page', { page: 'API-Keys' }) }}" class="api-key-btn">API Keys</a></p>

    <hr>

    <h4>Performing a curl request</h4>

    <p>Do a basic curl request</p>

    <code class="box">curl {{ app.request.getSchemeAndHttpHost() }}/item/1675?key=<em>_YOUR_APP_KEY_</em></code>

    {{ docs.gap() }}

    <h4>Libraries</h4>

    <table class="param-table">
        <thead>
        <tr>
            <th width="20%">Language</th>
            <th>Library</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>PHP</td>
            <td>
                <a href="https://github.com/xivapi/xivapi-php">https://github.com/xivapi/xivapi-php</a>
            </td>
        </tr>
        <tr>
            <td>Javascript</td>
            <td>
                <a href="https://github.com/xivapi/angular-client">https://github.com/xivapi/xivapi-js</a>
            </td>
        </tr>
        <tr>
            <td>Angular</td>
            <td>
                <a href="https://github.com/xivapi/angular-client">https://github.com/xivapi/angular-client</a>
            </td>
        </tr>
        <tr>
            <td>Ruby</td>
            <td>
                <a href="https://github.com/xivapi/xivapi-ruby">https://github.com/xivapi/xivapi-ruby</a>
            </td>
        </tr>
        <tr>
            <td>Go</td>
            <td>
                <a href="https://github.com/xivapi/xivapi-go">https://github.com/xivapi/xivapi-go</a>
            </td>
        </tr>
        </tbody>
    </table>

    {{ docs.gap() }}

    <h4>Examples</h4>

    <h2>PHP</h2>
    <pre class="box">
$json = file_get_contents("https://xivapi.com/Item/1675");
$json = json_decode($json);

// I.Lv 80 Curtana
echo "I.Lv {$json->LevelItem} {$json->Name_en}";
echo "&lt;img src=\"https://xivapi.com/{$json->Icon}\"&gt;";</pre>

    <h2>Python</h2>
    <pre class="box">
import urllib2, json

request = urllib2.Request("http://xivapi.com/Item/1675")
request.add_header('User-Agent', '&lt;User-Agent&gt;')
data = json.loads(urllib2.urlopen(request).read())

# I.Lv 80 Curtana
print "I.Lv %d %s" % (data['LevelItem'], data['Name_en'])</pre>

    <h2>Javascript</h2>
    <pre class="box">
// Stone II
fetch ("https://xivapi.com/Action/127", { mode: 'cors' })
	.then(response => response.json())
	.then(data => console.info(data.Name_en))</pre>

    <h2>JQuery</h2>
    <pre class="box">
// Stone II
$.ajax({
	url: "https://xivapi.com/Action/127",
	dataType: "json",
	success: function(data) {
		console.info(data.Name_en)
	}
});</pre>

    <h2>C#</h2>
    <pre class="box">
using Flurl;
using Flurl.Http;
using System.Net.Http;

HttpResponseMessage req = await "https://xivapi.com/Item/1675".GetAsync();
dynamic item = JsonConvert.DeserializeObject(
	req.Content.ReadAsStringAsync().Result
);

Console.Write($"I.Lv {item.LevelItem} {item.Name_en}");</pre>

{% endblock %}
