{% extends "docs/index.html.twig"  %}
{% import "docs/macros.html.twig" as docs %}
{% set section = 13 %}

{% block doc %}

    <h1>Lodestone</h1>

    {# a better api #}
    <h4 id="raelys">A better API for lodestone data</h4>
    <p>
        Please consider checking out <a href="https://documenter.getpostman.com/view/1779678/TzXzDHVk">Raelys' Lodestone API</a>.
        It is the API that powers the <a href="http://na.lodestone.raelys.com/">Lodestone News</a> Discord service, and has
        much more consistent and cleaner data than the current XIVAPI endpoints, including start/end dates for maintenance times.
    </p>

{% endblock %}
