{% extends "docs/index.html.twig"  %}
{% import "docs/macros.html.twig" as docs %}
{% set section = 17 %}

{% block doc %}

    <h1>Mappy Data</h1>

    <p>
        XIVAPI provides map data that has been gathered together by the FFXIV
        community using a tool known as Mappy! With these coordinates you can
        get the exact map position in-game or on a pixel map for various
        different content such as NPCs, Enemies and Gathering nodes.
    </p>

    <img src="/img-map/showcase_1.png" width="600">

    {{ docs.gap() }}

    <p>
        Mappy is now part of the FFXIV Teamcraft project and can be enabled on their desktop app by asking Miu#1568 for it.
    </p>

    <p>
        Mappy does not send any personal information to XIVAPI, everything you see in the JSON files
        inside the `/log` directory is what is sent to the server, and this is only if you have an authorised
        dev apps key!
    </p>

    <p>
        <strong>Requirements:</strong> PC, Dx11, 64bit.
    </p>

    <img src="/img-map/showcase_2.png" width="600">

    {{ docs.gap() }}

    <h4 id="download">API</h4>

    <p>Map data is available at <a href="https://xivapi.com/mappy/json">https://xivapi.com/mappy/json</a> for the full dump or <a href="https://xivapi.com/mappy/map/<mapId>">https://xivapi.com/mappy/map/<mapId></a> to get the data for a single map.</p>

   

{% endblock %}
