{% extends "docs/index.html.twig"  %}
{% import "docs/macros.html.twig" as docs %}
{% set section = 6 %}

{% block doc %}

    <h1>Maps</h1>

    <p>Map endpoints (WIP) hide for now</p>

{% endblock %}
