:root {
    --color1: #5723a2;
    --color2: #7a42c9;
    --color3: #e6e6e6;
    --color4: #c1c1c1;
    --color5: #323232;
}

@import "Mobile";
@import "Reset";
@import "AppDark";

* { box-sizing: border-box; }

html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #222;
}

p {
    line-height: 25px;
}

a {
    color: var(--color1);
    font-weight: 500;
    text-decoration: none;
}

// who needs class names, HA!

header {
    background: -moz-linear-gradient(top, #5723a2 0%, #663aac 100%);
    background: -webkit-linear-gradient(top, #5723a2 0%,#663aac 100%);
    background: linear-gradient(to bottom, #5723a2 0%,#663aac 100%);

    min-height: 400px;
    position: relative;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 100px rgba(0,0,0,0.3);

    &.page-docs,
    &.page-app,
    &.page-playground{
        min-height: 140px;
    }

    > span {
        position: absolute;
        width: 100%;
        background-repeat: no-repeat;
        background-size: auto 600px;
        min-height: 400px;
    }

    > span:nth-of-type(1) {
        left: 0; top: 0; bottom: 0;
        background-image: url("/ui/banner-left.png");
        background-position: left top;
        z-index: 5;
    }

    > span:nth-of-type(2) {
        right: 0; top: 0; bottom: 0;
        background-image: url("/ui/banner-right.png");
        background-position: right top;
        z-index: 6;
    }

    > div:nth-of-type(1) {
        display: flex;
        position: relative;
        z-index: 10;
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px 20px 0 20px;

        > div:nth-of-type(1) {
            flex: 0 1 125px;

            img {
                margin: 10px 0 0 0;
            }
        }

        > div:nth-of-type(2) {
            flex: 0 1 calc(100% - 125px);
            text-align: right;
            text-shadow: 0 1px 2px #000;

            a {
                display: inline-block;
                font-size: 20px;
                font-weight: 300;

                line-height: 50px;
                padding: 0 15px;
                text-decoration: none;
                color: #fff;
                transition: .2s;

                &:hover {
                    text-decoration: underline;
                }
            }

            em {
                display: inline-block;
                font-size: 28px;
                font-weight: 300;
                line-height: 50px;
                padding: 0 20px;
                color: #000;
                opacity: 0.3;
                text-shadow: none;
            }

            span {
                display: inline-block;
                line-height: 50px;
                padding: 0 20px;
                color: #fff88b;
                font-weight: 400;
                font-size: 20px;

                img {
                    vertical-align: middle;
                    margin: 0 0 0 20px;
                    border-radius: 50px;
                    box-shadow: 0 1px 3px #000;
                }
            }
        }
    }

    > div:nth-of-type(2) {
        position: relative;
        z-index: 20;
        max-width: 1000px;
        margin: 80px auto 0 auto;
        text-align: center;
        color: #fff;
        text-shadow: 0 1px 2px #000;

        > strong {
            font-size: 32px;
            font-weight: 300;
            margin-bottom: 20px;
            display: block;
        }

        > div {
            font-size: 20px;
            font-weight: 400;
            opacity: 0.7;
        }
    }

    .btn-login {
        opacity: 1 !important;
        background-color: rgba(137, 21, 255, 0.8);
        border: solid 1px rgb(80, 12, 145);
        color: #fff88b;
        border-radius: 5px;
        box-shadow: 0 1px 25px rgba(0,0,0,0.2);
    }
}

footer {
    padding: 50px 20px;
    font-size: 14px;
    text-align: center;

    > div {
        margin-bottom: 15px;
    }

    small {
        opacity: 0.5;
        line-height: 20px;
    }
}

pre, code {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    font-weight: 500;

    &.box {
        color: #c2c2c2;
        display: block;
        background-color: #333;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 15px;
        line-height: 24px;

        em {
            color: #fff99d;
        }
    }
}

code {
    display: inline-block;
    color: #a366ea;
    padding: 0 5px;
    font-weight: 400;
}

strong {
    font-weight: 600;
}

ul {
    margin: 20px;
    list-style-type: square;

    li {
        padding: 3px 8px;
        line-height: 22px;
    }
}

label {
    font-size: 15px;
    font-weight: 500;
    color: #444;
    display: block;
    margin-bottom: 5px;
}

input:not([type="checkbox"]), textarea {
    color: #444;
    padding: 12px;
    font-size: 17px;
    width: 100%;
    border-radius: 4px;
    border: solid 1px #aaa;
    box-shadow: 0 1px 8px rgba(0,0,0,0.1);
    font-family: 'Roboto', sans-serif;
}

.themeSelect {
    border: solid 1px #333;
    padding: 5px 7px;
    border-radius: 3px;
    display: inline-block;
    margin: 0 5px;
}

.fr {
    float: right;
}

.staging {
    max-width: 1000px;
    margin: 20px auto 0 auto;
    padding: 15px;
    background-color: #ffcc00;
    border-radius: 5px;

    h3 {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 10px;
    }
}

.fake-browser {
    background-color: #232323;
    border-radius: 8px;
    margin: -70px auto 0 auto;
    max-width: 800px;
    position: relative;
    z-index: 50;
    box-shadow: 0 1px 50px rgba(0,0,0,0.2);

    // browser url bar
    > div:nth-of-type(1) {
        display: flex;
        padding: 10px;

        // min, max, close buttons
        > span:nth-of-type(1) {
            flex: 0 1 80px;
            text-align: center;

            > em {
                display: inline-block;
                width: 12px;
                height: 12px;
                background-color: #fff;
                border-radius: 40px;
                margin: 7px 5px 0 0;
                opacity: 0.5;

                &:nth-of-type(1) {
                    background-color: #ff3f46;
                }

                &:nth-of-type(2) {
                    background-color: #ffda47;
                }

                &:nth-of-type(3) {
                    background-color: #90ff5c;
                }
            }
        }

        // url bar
        > span:nth-of-type(2) {
            flex: 0 1 calc(100% - 80px);
            background-color: #353535;
            border-radius: 2px;
            height: 28px;
            line-height: 28px;
            padding-left: 8px;
            color: #666;
            font-size: 14px;
            font-weight: 800;
        }
    }

    // browser body
    > div:nth-of-type(2) {
        padding-bottom: 10px;

        > div {
            color: #fff;
            background-color: #444;
            font-family: 'Roboto Mono', monospace;
            font-size: 16px;
            font-weight: 500;
            padding: 10px;
            border-radius: 2px;
            margin: 0 10px;
            line-height: 26px;

            pre span {
                color: #ffee80;
            }
        }
    }
}

.section-one {
    margin-top: 30px;
    display: flex;

    // container
    > section {
        width: 1200px;
        margin: 100px auto;
        display: flex;

        > div {
            flex: 33%;
            text-align: center;

            // image div
            > div:first-of-type {
                margin-bottom: 30px;
            }

            // highlight info
            > div:last-of-type {
                h2 {
                    font-size: 32px;
                    font-weight: 400;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 18px;
                    color: #888;
                    margin-bottom: 30px;
                }

                a {
                    display: inline-block;
                    font-size: 17px;
                    color: var(--color1);
                    border: solid 1px var(--color2);
                    border-radius: 5px;
                    padding: 0 20px;
                    line-height: 40px;
                    text-decoration: none;
                    transition: 250ms;

                    &:hover {
                        background-color: var(--color1);
                        color: #fff;
                    }
                }
            }
        }
    }
}

.section-two {
    > section {
        width: 1200px;
        margin: 100px auto;
        display: flex;

        > div {
            &:first-of-type {
                flex: 0 1 40%;
                padding-right: 50px;

                h3 {
                    font-size: 42px;
                    margin-bottom: 30px;
                }

                p {
                    padding-right: 25px;
                    margin-bottom: 20px;
                    font-size: 18px;
                    line-height: 28px;
                    color: #444;
                }
            }

            &:last-of-type {
                flex: 0 1 60%;

                > div {
                    position: relative;

                    > img {
                        max-width: 100%;
                        position: absolute;
                        top: 0; right: 0;
                        opacity: 0;
                        transition: 800ms;
                        border-radius: 10px;
                        box-shadow: 0 1px 25px rgba(0,0,0,0.3);

                        &.active {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.section-three {
    padding-top: 10px;

    > section {
        width: 1200px;
        margin: 50px auto;

        h3 {
            font-size: 42px;
            font-weight: 300;
            text-align: center;
            margin-bottom: 40px;
            opacity: 0.5;
        }

        > div {
            border: solid 1px #ddd;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 2px 10px rgba(0,0,0,0.5);
        }

        table {
            width: 100%;

            td {
                padding: 30px;
                border-bottom: solid 1px #ddd;
            }

            tr td:first-of-type {
                color: var(--color2);
                font-size: 20px;
                font-weight: 400;
                padding-top: 15px;
                text-align: right;
            }

            tr td:last-of-type {
                font-size: 16px;
                color: #666;
                line-height: 28px;

                p {
                    margin-bottom: 10px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.section-four {
    box-shadow: 0 0 200px 150px #f5f5f5;
    background-color: #f5f5f5;
    margin-top: 30px;
    display: flex;

    > section {
        width: 1200px;
        margin: 50px auto;
        display: flex;

        > div {
            flex: 0 1 50%;
            text-align: center;

            h3 {
                font-size: 28px;
                font-weight: 600;

                margin: 30px 0;
            }

            small {
                display: block;
                margin: 15px 0 30px 0;
                font-size: 14px;
                color: #aaa;
            }

            > p a {
                display: inline-block;
                font-size: 17px;
                color: var(--color1);
                border: solid 1px var(--color2);
                border-radius: 5px;
                padding: 0 20px;
                line-height: 40px;
                text-decoration: none;
                transition: 250ms;
                font-weight: 800;

                &:hover {
                    background-color: var(--color1);
                    color: #fff;
                }
            }
        }
    }
}

.docs,
.apps {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    padding: 0 20px;

    aside {
        flex: 0 1 300px;
        padding: 0 30px 30px 30px;
        border-right: solid 1px #ddd;

        hr {
            margin: 30px -30px 30px 0;
            height: 1px;
        }

        h3 {
            font-size: 25px;
            font-weight: 500;
            color: #555;
            margin-bottom: 5px;
        }

        small {
            opacity: 0.6;
        }

        > div {
            margin-bottom: 30px;

            > span {
                display: block;
                padding: 8px 0;
                font-family: 'Roboto Mono', monospace;
                font-size: 13px;
                text-transform: uppercase;
                position: relative;
            }
        }

        a {
            display: block;
            padding: 8px 12px;
            transition: 180ms;

            &:hover {
                background-color: rgba(133, 133, 133, 0.22);
                border-radius: 5px;
            }

            &.active {
                background-color: var(--color2);
                color: #fff;
                border-radius: 5px;
            }
        }

        .sub-nav {
            padding: 0 10px;
            margin: 0 0 20px 15px;

            a {
                padding: 6px 8px;
                font-size: 14px;
                color: #888;
                transition: 150ms;

                &:hover {
                    background-color: transparent;
                    color: #222;
                }
            }

        }
    }

    main {
        flex: 0 1 calc(100% - 300px);
        padding: 10px 0 50px 50px;

        h1 {
            font-size: 32px;
            font-weight: 400;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 26px;
            font-weight: 400;
            color: var(--color2);
            margin-bottom: 20px;
        }

        h6 {
            font-size: 22px;
            font-weight: 400;
            color: #666;
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        h4 {
            font-size: 26px;
            font-weight: 400;
            color: #666;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 20px;
        }

        table {
            width: 100%;
            border: solid 1px var(--color2);
            margin-bottom: 20px;

            tr {
                th {
                    background-color: var(--color2);
                    color: #fff;
                    font-weight: 500;
                    padding: 12px;
                }
            }

            tr {
                td {
                    padding: 12px;
                    border-right: solid 1px #aaa;
                    border-bottom: solid 1px var(--color2);

                    &:last-of-type {
                        border-right: none;
                    }

                    small {
                        font-size: 14px;
                        color: #aaa;
                    }
                }

                &:last-of-type td {
                    //border-bottom: none;
                }
            }
        }

        .gap { height: 40px; }
    }
}

.docs {
    hr {
        border: none;
        height: 3px;
        background-color: #ddd;
        margin: 50px 0;
    }

    main {
        p.note {
            padding: 8px 12px;
            background-color: #eee;
            border-radius: 5px;
            font-weight: 400;
            color: #333;
        }

        table {
            &.mini-table {
                margin: 10px 0;

                td {
                    padding: 8px;
                    font-size: 14px;
                }
            }

            &.param-table {
                tr td:first-of-type {
                    color: #5566ff;
                    font-family: 'Roboto Mono', monospace;
                    font-weight: 400;
                }
            }

            .pricing-row {
                small {
                    display: block;
                }

                td {
                    line-height: 24px;

                    &.pricing-cost {
                        font-weight: 700;
                        font-size: 17px;
                        color: #16a23d;
                    }
                }
            }

            p:last-of-type {
                margin-bottom: 0;
            }
        }

        .rate-limit-example {
            padding-left: 10px;
            border-left: dashed 1px #aaa;
            margin-bottom: 30px;

            > div {
                padding: 5px;
                font-size: 14px;
                font-family: 'Roboto Mono', monospace;
                color: #666;
            }
        }

        .route {
            margin-bottom: 20px;
            border-left: solid 3px rgba(56, 118, 199, 0.3);
            padding-left: 15px;

            h3 {
                font-size: 28px;
                font-family: 'Roboto Mono', monospace;
                color: #3876c7;
                margin-bottom: 12px;

                a {
                    color: #3876c7;
                    font-size: 20px;
                    opacity: 0.5;
                }
            }

            a {
                font-size: 14px;
                opacity: 0.5;
                transition: 150ms;

                &:hover {
                    opacity: 1;
                }
            }
        }

        .param {
            margin-bottom: 20px;
            border-left: solid 3px rgba(58, 171, 86, 0.31);
            padding-left: 15px;

            h3 {
                font-size: 20px;
                font-family: 'Roboto Mono', monospace;
                color: #249543;
                margin-bottom: 12px;
            }

            a {
                font-size: 14px;
                opacity: 0.5;
                transition: 150ms;

                &:hover {
                    opacity: 1;
                }
            }
        }

        .git-row {
            td:first-of-type {
                color: #666 !important;
                font-weight: 300;
            }

            &.git-row-live td {
                background-color: rgba(191, 195, 106, 0.31);
            }
        }

        .icons {
            display: flex;
            flex-wrap: wrap;

            img {
                max-width: 64px;
                max-height: 64px;
                margin-bottom: 10px;
                border-radius: 5px;
            }

            > span {
                flex: 0 1 170px;
                border: solid 1px #eee;
                margin: 0 -1px -1px 0;
                display: inline-block;
                text-align: center;
                padding: 15px 6px;

                a {
                    color: #007bff;
                    text-decoration: none;
                    background-color: transparent;
                    -webkit-text-decoration-skip: objects;
                }

                span {
                    display: block;
                    font-size: 10px;
                    color: #888;
                    word-break: break-all;
                }
            }
        }

        .api-key-btn {
            display: inline-block;
            font-size: 17px;
            color: var(--color1);
            border: solid 1px var(--color2);
            border-radius: 5px;
            padding: 0 20px;
            line-height: 40px;
            text-decoration: none;
            transition: 250ms;

            &:hover {
                background-color: var(--color1);
                color: #fff;
            }
        }

        .lore {
            display: flex;
            margin: 15px 0;

            > div:nth-of-type(1) {
                flex: 0 1 100px;
            }

            > div:nth-of-type(2) {
                flex: 0 1 calc(100% - 100px);
            }
        }
    }
}

.apps {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;

    aside {
        flex: 0 1 300px;
        padding: 0 30px 30px 30px;
        border-right: solid 1px #ddd;

        h3 small {
            font-size: 14px;
            display: inline-block;
            margin-left: 15px;
        }

        a {
            font-size: 17px;
        }
    }

    main {
        flex: 0 1 calc(100% - 300px);
        padding: 0 0 50px 50px;

        h3 {
            font-size: 22px;
            font-weight: 400;
        }

        h4 {
            font-size: 28px;
            font-weight: 400;
            margin-bottom: 15px;
        }

        h5 {
            font-size: 20px;
            font-weight: 500;
            color: #c7403d;
            margin-bottom: 10px;
        }

        .delete-page {
            border: solid 3px #c7403d;
            background-color: #fff;
            border-radius: 10px;
            padding: 40px;

            h4 span {
                display: block;
                padding: 15px 30px;
                color: var(--color2);
            }
        }

        .fr {
            float: right;

            a {
                color: #d9372a;
            }
        }

        .text-green {
            color: #0cb932;
            font-weight: 500;
        }

        .text-red {
            color: #cc393b;
            font-weight: 500;
        }

        .warning, .banned, .success {
            font-size: 18px;
            font-weight: 400;
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 20px;
            line-height: 24px;

            p {
                display: block;
                margin-bottom: 0;

                a {
                    color: #ffffff;
                    text-decoration: underline;
                }
            }

            h3 {
                font-weight: 700;
                margin-bottom: 15px;
            }
        }

        .success {
            background-color: #afebba;
        }

        .warning {
            background-color: #b3d0de;
        }

        .banned {
            background-color: #c93539;
            color: #fff;

            h4 {
                text-align: center;
                font-size: 28px;
                font-weight: 300;
                margin-bottom: 15px;
            }


        }

        .apps-key {
            padding: 20px 0;
            margin-bottom: 20px;
            text-align: center;

            h2 {
                font-size: 26px;
                font-family: 'Roboto Mono', monospace;
            }

            > div {
                color: #fff;
                background-color: #333;
                padding: 10px;
                border-radius: 6px;
                text-align: left;

                strong {
                    font-size: 12px;
                    text-transform: uppercase;
                    display: block;
                    margin-bottom: 8px;
                }

                div {
                    color: #fffcbc;
                    font-family: 'Roboto Mono', monospace;

                    span {
                        color: #9ab7ff;
                    }
                }
            }
        }

        .apps-regen {
            margin-bottom: 30px;

            p {
                margin-bottom: 5px;
            }

            a {
                display: inline-block;
                line-height: 42px;
                padding: 0 20px;
                border: solid 1px var(--color2);
                border-radius: 5px;
            }
        }

        .apps-form {
            border: solid 1px #ccc;
            border-radius: 5px;
            box-shadow: 0 3px 10px rgba(0,0,0,0.1);
            padding: 20px;
            margin-bottom: 40px;

            h4 {
                font-size: 24px;
                margin-bottom: 20px;
                font-weight: 400;
                color: var(--color2);
            }

            > div {
                margin-bottom: 20px;

                > section {
                    padding: 6px 15px;
                }
            }

            hr {
                border: none;
                margin: 20px -20px;
                height: 1px;
                background-color: #ccc;
            }

            .btn-success {
                display: inline-block;
                line-height: 42px;
                padding: 0 20px;
                border: solid 2px #24af58;
                border-radius: 5px;
                font-size: 16px;
                background-color: transparent;
                font-weight: 700;

                &:hover {
                    background-color: #24af58;
                    color: #fff;
                }
            }

            .analytics {
                font-size: 20px;
                padding: 8px;
                display: block;
            }
        }

        .create-app {
            display: block;
            margin-bottom: 20px;

            a {
                border: none;
                border-radius: 5px;
                display: inline-block;
                background-color: #34bd69;
                color: #fff;
                line-height: 50px;
                height: 50px;
                padding: 0 20px;
                font-size: 18px;
            }
        }

        .login {
            text-align: center;
            width: 500px;
            border-radius: 10px;
            border: solid 1px #aaa;
            padding: 20px;
            box-shadow: 0 1px 10px rgba(0,0,0,0.2);
            margin-bottom: 30px;

            a {
                display: inline-block;
                font-size: 20px;
                line-height: 50px;
                padding: 0 20px;
                text-decoration: none;
                transition: .2s;

                background-color: rgb(123, 51, 255);
                border: none;
                color: #fff88b;
                border-radius: 5px;
                box-shadow: 0 1px 25px rgba(0, 0, 0, 0.2);
            }

            small {
                display: block;
                margin-top: 30px;
                color: #888;
                font-size: 13px;
            }
        }
    }

    nav {
        border-bottom: solid 1px #ccc;
        line-height: 42px;
        margin-bottom: 40px;
        display: flex;
        box-shadow: 0 2px 0 #eee;

        a {
            display: inline-block;
            padding: 0 20px;
            font-size: 18px;
            border-right: solid 1px var(--color2);
            border-bottom: solid 2px var(--color2);
            font-weight: 400;
            transition: .2s;

            &:hover {
                background-color: var(--color2);
                color: #fff;
            }

            &:last-of-type {
                border-right: none;
            }
        }
    }
}

.playground {
    margin: 40px;

    h1 {
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 5px;
    }

    label {
        font-size: 14px;
        text-transform: uppercase;
        color: #888;
        margin-bottom: 8px;
    }

    > div:nth-of-type(1) {
        margin-bottom: 40px;
    }

    > div:nth-of-type(2) {
        display: flex;

        > div:nth-of-type(1) {
            flex: 0 1 35%;
            max-width: 800px;
        }

        > div:nth-of-type(2) {
            flex: 0 1 65%;
            padding-left: 30px;
        }
    }

    .btn-search-test {
        background-color: transparent;
        display: inline-block;
        font-size: 17px;
        font-weight: 500;
        color: #16a23d;
        border: solid 1px #16a23d;
        border-radius: 5px;
        padding: 0 20px;
        line-height: 40px;
        text-decoration: none;
        transition: 250ms;

        &:hover {
            background-color: #16a23d;
            color: #fff;
        }
    }

    .playground-response {
        padding: 10px;
        background-color: #222;
        border-radius: 5px;
        box-shadow: 0 1px 10px rgba(0,0,0,0.1);

        pre {
            line-height: 18px;
            font-size: 14px;
            color: #aaa;
        }
    }

    .CodeMirror {
        border-radius: 4px;
        border: solid 1px #aaa;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }
}
