:root {
    --primary: #146DFC;
    --secondary: #3c8dfc;
    --success: #15b41a;
    --info: #4223a3;
    --link: #64bfff;
    --highlight1: #d6bef9;

    --background: #25272a;
    --background2: #36393f;
    --background3: #404349;
    --background4: #999faa;

    --blue0: #141922;
    --blue1: #171a21;
    --blue2: #1f2635;
    --blue3: #1b2838;
    --blue4: #2a475e;
    --blue5: #377197;
    --blue6: #309ab5;

    --red: #ff7363;
    --yellow: #f3ff7e;
    --light-green: #68dc7d;
    --light-green-opacity: rgba(104, 220, 125, 0.4);
    --light-blue: #7cc5dc;
    --light-blue-opacity: rgba(124, 197, 220, 0.4);
    --light-purple: #987fd7;

    --site-width: 1000px;
}

@import "Reset";
@import "MQ";
@import "Theme";
