<pre class="box"><span style="color: #f8f8f2">{</span>
    <span style="color: #a6e22e">columns</span><span style="color: #f92672">:</span> <span style="color: #e6db74">&quot;Name&quot;</span><span style="color: #f8f8f2">,</span>
    <span style="color: #a6e22e">private_key</span><span style="color: #f92672">:</span> <span style="color: #e6db74">&quot;[your_key]&quot;</span>
<span style="color: #f8f8f2">}</span>
</pre>
<br>
