<pre class="box"><span style="color: #75715e">// Stone II</span>
<span style="color: #a6e22e">$</span><span style="color: #f8f8f2">.</span><span style="color: #a6e22e">ajax</span><span style="color: #f8f8f2">({</span>
	<span style="color: #a6e22e">url</span><span style="color: #f92672">:</span> <span style="color: #e6db74">&quot;https://xivapi.com/Action/127&quot;</span><span style="color: #f8f8f2">,</span>
	<span style="color: #a6e22e">dataType</span><span style="color: #f92672">:</span> <span style="color: #e6db74">&quot;json&quot;</span><span style="color: #f8f8f2">,</span>
	<span style="color: #a6e22e">success</span><span style="color: #f92672">:</span> <span style="color: #66d9ef">function</span><span style="color: #f8f8f2">(</span><span style="color: #a6e22e">data</span><span style="color: #f8f8f2">)</span> <span style="color: #f8f8f2">{</span>
		<span style="color: #a6e22e">console</span><span style="color: #f8f8f2">.</span><span style="color: #a6e22e">info</span><span style="color: #f8f8f2">(</span><span style="color: #a6e22e">data</span><span style="color: #f8f8f2">.</span><span style="color: #a6e22e">Name_en</span><span style="color: #f8f8f2">)</span>
	<span style="color: #f8f8f2">}</span>
<span style="color: #f8f8f2">});</span>
</pre>
<br><br>
