<pre class="box"><span style="color: #f8f8f2">[</span>
	<span style="color: #f8f8f2">{</span>
		<span style="color: #e6db74">&quot;Lich&quot;</span><span style="color: #f92672">:</span> <span style="color: #f8f8f2">{},</span>
		<span style="color: #e6db74">&quot;Moogle&quot;</span><span style="color: #f92672">:</span> <span style="color: #f8f8f2">{},</span>
		<span style="color: #e6db74">&quot;Phoenix&quot;</span><span style="color: #f92672">:</span> <span style="color: #f8f8f2">{}</span>
	<span style="color: #f8f8f2">},</span>
	<span style="color: #f8f8f2">{</span>
		<span style="color: #e6db74">&quot;Lich&quot;</span><span style="color: #f92672">:</span> <span style="color: #f8f8f2">{},</span>
		<span style="color: #e6db74">&quot;Moogle&quot;</span><span style="color: #f92672">:</span> <span style="color: #f8f8f2">{},</span>
		<span style="color: #e6db74">&quot;Phoenix&quot;</span><span style="color: #f92672">:</span> <span style="color: #f8f8f2">{}</span>
	<span style="color: #f8f8f2">},</span>
	<span style="color: #f8f8f2">{</span>
		<span style="color: #e6db74">&quot;Lich&quot;</span><span style="color: #f92672">:</span> <span style="color: #f8f8f2">{},</span>
		<span style="color: #e6db74">&quot;Moogle&quot;</span><span style="color: #f92672">:</span> <span style="color: #f8f8f2">{},</span>
		<span style="color: #e6db74">&quot;Phoenix&quot;</span><span style="color: #f92672">:</span> <span style="color: #f8f8f2">{}</span>
	<span style="color: #f8f8f2">}</span>
<span style="color: #f8f8f2">]</span>
</pre>
