<pre class="box"><span style="color: #f8f8f2">{</span>
	<span style="color: #e6db74">&quot;Lich&quot;</span><span style="color: #f92672">:</span> <span style="color: #f8f8f2">{</span>
		<span style="color: #e6db74">&quot;History&quot;</span><span style="color: #f92672">:</span> <span style="color: #f8f8f2">[],</span>
		<span style="color: #e6db74">&quot;ID&quot;</span><span style="color: #f92672">:</span> <span style="color: #e6db74">&quot;35_3&quot;</span><span style="color: #f8f8f2">,</span>
		<span style="color: #e6db74">&quot;ItemID&quot;</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">3</span><span style="color: #f8f8f2">,</span>
		<span style="color: #e6db74">&quot;Prices&quot;</span><span style="color: #f92672">:</span> <span style="color: #f8f8f2">[],</span>
		<span style="color: #e6db74">&quot;Server&quot;</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">35</span><span style="color: #f8f8f2">,</span>
		<span style="color: #e6db74">&quot;Updated&quot;</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">1553868851</span>
	<span style="color: #f8f8f2">},</span>
	<span style="color: #e6db74">&quot;Moogle&quot;</span><span style="color: #f92672">:</span> <span style="color: #f8f8f2">{</span>
		<span style="color: #e6db74">&quot;History&quot;</span><span style="color: #f92672">:</span> <span style="color: #f8f8f2">[],</span>
		<span style="color: #e6db74">&quot;ID&quot;</span><span style="color: #f92672">:</span> <span style="color: #e6db74">&quot;42_3&quot;</span><span style="color: #f8f8f2">,</span>
		<span style="color: #e6db74">&quot;ItemID&quot;</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">3</span><span style="color: #f8f8f2">,</span>
		<span style="color: #e6db74">&quot;Prices&quot;</span><span style="color: #f92672">:</span> <span style="color: #f8f8f2">[],</span>
		<span style="color: #e6db74">&quot;Server&quot;</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">42</span><span style="color: #f8f8f2">,</span>
		<span style="color: #e6db74">&quot;Updated&quot;</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">1553868496</span>
	<span style="color: #f8f8f2">},</span>
	<span style="color: #e6db74">&quot;Phoenix&quot;</span><span style="color: #f92672">:</span> <span style="color: #f8f8f2">{</span>
		<span style="color: #e6db74">&quot;History&quot;</span><span style="color: #f92672">:</span> <span style="color: #f8f8f2">[],</span>
		<span style="color: #e6db74">&quot;ID&quot;</span><span style="color: #f92672">:</span> <span style="color: #e6db74">&quot;46_3&quot;</span><span style="color: #f8f8f2">,</span>
		<span style="color: #e6db74">&quot;ItemID&quot;</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">3</span><span style="color: #f8f8f2">,</span>
		<span style="color: #e6db74">&quot;Prices&quot;</span><span style="color: #f92672">:</span> <span style="color: #f8f8f2">[],</span>
		<span style="color: #e6db74">&quot;Server&quot;</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">46</span><span style="color: #f8f8f2">,</span>
		<span style="color: #e6db74">&quot;Updated&quot;</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">1553871386</span>
	<span style="color: #f8f8f2">}</span>
<span style="color: #f8f8f2">}</span>
</pre>
