{% extends "base.html.twig"  %}

{% block title %}Page Not Found{% endblock %}

{% block body %}

    <div class="low-section" style="padding: 50px;text-align: center">
        <h1 style="font-size: 32px;margin-bottom: 30px;">Page not found</h1>

        <p>We could not find the page you're trying to find, try go back and look somewhere else :D</p>
    </div>

{% endblock %}
