<div class="card">
    <div class="card-body">
        {# creating a new room #}
        <h4>Create a room</h4>
        <form class="create_room_form">
            <div class="form-group">
                <label for="name">Room Name</label>
                <input type="text" class="form-control room_name" id="name" aria-describedby="name" placeholder="Room name">
                <small id="name" class="form-text text-muted">Keep it clean</small>
            </div>

            <div class="form-group">
                <label for="enemy">Add Enemies</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control enemy_name" id="enemy" aria-describedby="enemy" placeholder="Enemy Name">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-primary search_enemy">Search</button>
                    </div>
                </div>
            </div>

            <div class="enemy_list_search_results"></div>

            {# this would be hidden #}
            <textarea class="form-control enemy_list"></textarea>

            <br><br><br>

            <button type="button" class="btn btn-primary create_battle_room">Create battle room</button>
        </form>
    </div>

</div>
