<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.css">
    <link rel="stylesheet" href="/ui/battlebar_css.css?t={{ "now"|date }}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.js"></script>
</head>
<body>

    {% if auth.user %}
        <div class="container-fluid">

            {# Top #}
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            Welcome to the battlegrounds<br>
                            <strong>{{ auth.user.username }}</strong>
                        </div>
                        <div class="col-md-4 tac">
                            <small>PLAYER</small><br>
                            <strong class="app_player_name">-</strong>
                        </div>
                        <div class="col-md-4 tar">
                            <small>CLIENT STATUS</small><br>
                            <span class="app_status">
                                <span class="badge  badge-danger">App Not Connected</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <br><br>

            <div class="row flex-nowrap">
                <div class="col-md-4 col-12 sidebar">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>ROOMS</strong>
                        </li>
                        <li class="list-group-item">
                            <button type="button" class="btn btn-success btn_create_room">Create Room</button>
                        </li>
                        <div class="battle_rooms"></div>
                    </ul>
                </div>
                <div class="col-md col-12 main pa-1">
                    <div class="room_create open" id="room_create">
                        {% include 'battle_bar/create_room.html.twig' %}
                    </div>

                    <div class="room_view" id="room_view">
                        {# clicked on a room #}
                    </div>
                </div>
            </div>

        </div>

        <script>let APIKEY = '{{ auth.user.apiPublicKey }}';</script>
        <script src="/ui/battlebar_js.js"></script>
    {% else %}
        <h2>Login required</h2>
        <p>You must be online to access this page.</p>
        <p>
            <a href="{{ path('account_login_discord') }}" class="btn-login">
                Login via <strong>Discord</strong>
            </a>
        </p>
    {% endif %}

</body>
</html>
